
    <div class="container">
        <div class="row">
            <div class="col-md-2">

                Search: <input ng-model="query">
                Sort by:
                <select ng-model="orderProp">
                    <option value="name">Alphabetical</option>
                    <option value="age">Age</option>
                </select>

            </div>
            <div class="col-md-10">

                <ul class="books">
                    <!--<li ng-repeat="book in books | filter:query | orderBy:orderProp">
                        <span>{{book.name}}</span>
                    </li>-->
                    <li class="thumbnail" ng-repeat="book in books | filter:query | orderBy:orderProp">
                        <a class="thumb" href="#/books/{{book.id}}"><img ng-src="{{book.imageUrl}}"/></a>
                        <a href="#book/{{book.id}}">{{book.name}}</a>
                        <p>{{book.writer}}</p>
                    </li>
                    <!--<li ng-repeat="book in books | filter:query | orderBy:orderProp">
                        <span>{{book.name}}</span>
                        <p>{{book.writer}}</p>
                    </li>-->
                </ul>

            </div>
        </div>
    </div>