
    <!doctype html>
    <html lang="en" ng-app="bookApp">
    <head>
        <meta charset="utf-8">
        <title>Google Phone Gallery</title>
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="style.css">
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/angular-route/angular-route.js"></script>
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controller.js"></script>
    </head>
    <!--<body ng-controller="BookListController">-->
    <body>
    <div ng-view></div>
    <button id = "btn">button</button>
    <div>Starting changes</div>

    <!--<div class="container">
        <div class="row">
            <div class="col-md-2">

                Search: <input ng-model="query">
                Sort by:
                <select ng-model="orderProp">
                    <option value="name">Alphabetical</option>
                    <option value="age">Age</option>
                </select>

            </div>
            <div class="col-md-10">

                <ul class="books">
                    <!--<li ng-repeat="book in books | filter:query | orderBy:orderProp">
                        <span>{{book.name}}</span>
                    </li>-->
                    <!--<li class="thumbnail" ng-repeat="book in books | filter:query | orderBy:orderProp">
                        <a class="thumb" href="#/books/{{book.id}}"><img ng-src="{{book.imageUrl}}"/></a>
                        <a href="#book/{{book.id}}">{{book.name}}</a>
                        <p>{{book.writer}}</p>
                    </li>-->
                    <!--<li ng-repeat="book in books | filter:query | orderBy:orderProp">
                        <span>{{book.name}}</span>
                        <p>{{book.writer}}</p>
                    </li>-->
                <!--</ul>

            </div>
        </div>
    </div>-->
    </body>
    </html>