

    <div class="container">
        <div class="row">
            <h1 class = "pageTitle">Book Store</h1>

    </div>
        <div class="row">
            <div class="searchig">
                <h4 class = "search">Search:</h4>
                <input class = "inputSearch" ng-model="query">
                <h4 class = "search">Filter by Genre:</h4>
                <select class = "inputSearch" ng-model="selected" ng-options="genre for genre in genres">
                    <option value="{{genres}}">All</option>
                </select>
                <!--<p>{{selected}}</p>-->
            </div>
        </div>
        <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <ul class="books">
                        <li class="thumbnail" ng-repeat="book in books | filter:query | filter:selected">
                            <div class="container">
                                <!--<p>{{book}}</p>-->
                                <div class="row">
                                    <div class="row insideRow">
                                        <div class="col-md-2 col-height">
                                            <a class="thumb" href="#home/books/{{book.id}}"><img ng-src="{{book.imageUrl}}"/></a>
                                        </div>
                                        <div class="col-md-4">
                                            <a class = "book-name" href="#home/books/{{book.id}}">{{book.name}}</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-text">
                                            <a class = "writer-name" href="#home/writers/{{book.author}}">{{book.writer}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
    </div>