

    <div class="container">
        <div class="row">
            <h1 class = "pageTitle">{{writer.name}}</h1>
        </div>
        <div class="row">
            <p class = "shortText">{{writer.biography}}</p>
        </div>
        <div class="row">
            <p class = "listBooks">Books</p>
            <div style = "display: table;margin: 0 auto;">
                <ul class = "writer-thumbs">
                    <li class = "thumbnail-writer">
                        <a class="thumbInside" href="#home/books/{{writer.book}}"><img ng-src="{{writer.imageUrl}}"/></a>
                        <a class = "margin-title" href="#home/books/{{writer.book}}">{{writer.book}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h3 class = "to-list"><a href="#home/">To list</a></h3>
        </div>
    </div>

    <!--detail view for <span>{{bookId}}</span>-->